@import url('https://fonts.googleapis.com/css?family=Quicksand');

.bgImage {
    background: url("resources/images/login-back.svg") no-repeat;
    background-size: 1000px 900px;
    height: 100vh;
}

.width120 {
    width: 120px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}